*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Nav Bar*/


ul{
    list-style-type: none;
    display: none;
}

a{
    text-decoration: none;
    color: black;
}

.links{
    background-color: #3D5A80;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 70px;
    width: 100%;
}


.logo img{
    width: 120px;
    height: 90px;
}

#bar{
    font-size: 30px;
    color: white;
}

.toggle{
    position: absolute;
    top: 25px;
    right: 20px
}

.mobile-menu-active{
    display: block;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    background-color: #3D5A80;
    width: 100%;
    margin-top: 70px;
    height: 15vh;
}

li a{
    color: white;
    font-size: 20px;
}

/*Container is the background color*/
.container{
    background-color: #373A40;
    height: 1000vh;
    width: 100%;
}
/*Text-1 is the heading and the title*/
.Text-1{
    background-color: #686D76;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 8000px;
    font-size: 20px;
}

.Text-1-Heading .title{
    background-color: #DC5F00;
    width: 400px;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
}

.title{
    font-size: 30px;
}

.Home{
    text-align: left;
    padding: 28px;
    margin-bottom: 10px;
    
}

/*Image slideshow*/
.dot{
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*Synopsis code*/
.synopsis-text-1{
  background-color: #DC5F00;
  width: 400px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.synopsis-text-2{
  margin-bottom: 20px;
}

.synopsis-text-3{
  margin-bottom: 20px;
}
/*code for the character list on the home page*/

.Character-List-Heading{
  background-color: #DC5F00;
  width: 400px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}
.character-text{
  background-color: #DC5F00;
  width: 400px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.Character-List-Image{
  border: 1px solid #f2f2f2;
  display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    
}



.container-2{
  background-color: #686D76;
  height: 100vh;
  width: 100%;
}

.buttonContainer{
  display: flex;
  flex-direction: column;
}

.Unplayable-Character-List{
  display: none;
}



/*Media Querie codes for various device sizes*/
@media only screen and (max-width: 600px){
  .container{
    width: 100%;
    overflow-x: hidden;
    height: 550vh;
    background-color: #373A40;

    
  }
  body{
    overflow-x: hidden;
    
  }

  .Character-List{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
  }
  
  .Character-List img{
    height: 70px;
    width: 70px;
    margin-top: 10px;
  }

  .Character-List p{
    font-size: 15px;
    margin-top: 2px;
  }
  
  .Text-1{
    background-color: #686D76;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 3000px;
    font-size: 20px;
}
   
 .Home-Text-1{
  margin-bottom: 20px;
 }
}

@media only screen and (max-width: 768px){
  .container{
    width: 100%;
    overflow-x: hidden;
    height: 500vh;
    background-color: #373A40;

    
  }
  body{
    overflow-x: hidden;
    
    
  }

  .Character-List{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
  }
  
  .Character-List img{
    height: 70px;
    width: 70px;
    margin-top: 10px;
  }

  .Character-List p{
    font-size: 15px;
    margin-top: 2px;
  }
  
  .Text-1{
    background-color: #686D76;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 3200px;
    font-size: 20px;
}
   
 .Home-Text-1{
  margin-bottom: 20px;
 }
}

@media only screen and (min-width: 1200px){
.Character-List{
  display: grid;
  row-gap: 50px 50px 50px 50px;
  justify-content: center;

}
img{
  width: 100px;
}

p{
  font-size: 20px;
}

}

@media only screen and (max-width: 375px){
 .container{
  width: 100%;
 }
}

@media only screen and (min-width: 1240px){
  .container{
    width: 100%;
    height: 400vh;
    background-color: #373A40;

    
  }
  
  .Character-List img{
    height: 90px;
    width: 90px;
    margin-top: 10px;
  }

  .Character-List p{
    font-size: 25px;
    margin-top: 2px;
  }
  
  .Text-1{
    background-color: #686D76;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 4150px;
    font-size: 20px;
}
   
 .Home-Text-1{
  margin-bottom: 20px;
 }

 #bar{
  display: none;
 }
 .nav-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-right: 500px;
 }

 .Unplayable-Character-List-Image{
  display: none;
 }
 .Battlesuits-Heading{
  text-align: left;
    padding: 28px;
    margin-bottom: 10px;
    font-size: 30px;
}
 .Kiana-Kaslana-Battlesuit-List{
  text-align: center;

}
.Kiana-Kaslana-Battlesuit-List-Image{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #f2f2f2;
  width: 500px;
  gap: 20px;
}
.Battlesuits{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
}




