*{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    display: none;
}

a{
    text-decoration: none;
    color: black;
}

.links{
    background-color: #3D5A80;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 70px;
}


.logo img{
    width: 120px;
    height: 90px;
}

#bar{
    font-size: 30px;
    color: white;
}

.toggle{
    position: absolute;
    top: 25px;
    right: 20px
}

.container{
    background-image: url("Haxxor.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

